body {
    margin:0;
    padding:0;
    font-family: 'Merriweather', serif;
}


.container {
    position: relative;
    height:100vh;
    width:100vw;
    text-align: center;
    /* background:url("https://images.unsplash.com/photo-1578377375762-cbcc98d68af0?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"); */
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ), url("https://images.unsplash.com/photo-1578377375762-cbcc98d68af0?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

/* navbar styles */
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #24252A;
    width:100vw;
}
li, a{
    color: #edf0f1;
    text-decoration:none;
    align-items: center;
    font-weight: 300;
}

.nav_links {
    list-style:none;
}

.nav_links li {
    display:inline-block;
    padding:0px 20px;
    font-size:14px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: gold;
}

.header-container {
    /* background-color:white; */
    margin-right:20%;
    margin-left:20%;
    margin-top:9%;
}

.header-container h1 {
    font-size:90px;
    font-family: 'Grenze Gotisch', cursive;
    color:goldenrod;
    text-shadow: 2px 2px 8px black;
    margin:0;
}

.header-container h3 {
    font-size:16px;
    color: silver;
    margin-top:2%;
    text-shadow: 2px 2px 8px black;
}


/* randomEncounters page  */

.content-container {
    background-color:rgba(210, 215, 211, 0.6);
    margin-top:4%;
    margin-right:15%;
    margin-left:15%;
    padding:2%;
}

.content-container h1 {
    font-family: 'Grenze Gotisch', cursive;
    color:goldenrod;
    text-shadow: 2px 2px 8px black;
    font-size:60px;
    margin:0;
}

.content-container p {
    margin:0;
}

.btnStyle {
    font-family: 'Merriweather', serif;
    display:block;
    margin:5px auto;
    border:none;
    border-radius:50px;
    padding:10px;
}

#topButton {
    background-color: #bb1e39;
}

#middleButton{
background-color:#016295;
}

#bottomButton {
    background-color:#136843
}

#generatedEncounter {
    font-size: 20px;
    font-style:italic;
    margin:0;
    padding:7px;
}
.grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
  }
  
  .grid-item {
    padding: 5px;

  }

  .imgStyle {
      width:250px;
      height:173px;
  }

.grid-item h1 {
    font-size:40px;
    color:silver;
}